@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none !important;
  @apply font-body scroll-smooth select-none;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}

.h-screen {
  height: 100vh;
  height: 100dvh;
}

.w-screen {
  width: 100vw;
  width: 100dvw;
}

input {
  appearance: none;
  border: 0;
}

input:focus {
  outline: none !important;
}

.skip-to-main {
  margin-right: 1rem;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.skip-to-main:focus {
  position: static;
  background-color: white;
  width: auto;
  height: auto;
}
